<div class="page-header d-print-none">
    <h1 class="page-title"><%= title %></h1>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Contenido de la página de <%= title %>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
